package tech.kts.metaclass.githubmobileclient.data.network.auth

object GitHubAuthConfig: AuthConfig {
    override val clientId = "YOUR_CLIENT_ID"
    override val clientSecret = "YOUR_CLIENT_SECRET"
    override val authUri = "https://github.com/login/oauth/authorize"
    override val tokenUri = "https://github.com/login/oauth/access_token"
    override val scopes = listOf("user", "repo")
    override val callbackUrl = "tech.kts.metaclass.oauth://github.com/callback"
}